<html>
        <head><title>redirect...</title></head>
            <form id="post_data" method="post" action="https://api.logpay.cn/server/api/pay">
                <input type="hidden" name="payType" value='{{ payType }}'>
                <input type="hidden" name="sign" value='{{ sign }}'>
                <input type="hidden" name="notifyUrl" value='{{ notifyUrl }}'>
                <input type="hidden" name="orderNumber" value='{{ orderNumber }}'>
                <input type="hidden" name="price" value='{{ price }}'>
                <input type="hidden" name="returnUrl" value='{{ returnUrl }}'>
                <input type="hidden" name="uid" value='{{ uid }}'>
                <input type="hidden" name="orderUid" value='{{ orderUid }}'>
                <input type="hidden" name="orderName" value='{{ orderName }}'>
            </form>
            <script>document.getElementById("post_data").submit();</script>
</html>